
.cart-table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: -1%;
}

.cart-table th,
.cart-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.prices{
  font-size: 18px;
}

.cart-table th {
  background-color: #f2f2f2;
}

.cart-item-controls2 button {
  background-color: #478ad6;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.cart-item-controls2 button:hover {
  background-color: #1c6bc3;
}

.cart-item-controls2 span {
  display: inline-block;
  width: 40px;
  text-align: center;
}

.card-producto-img2 {
  max-width: 80px;
  height: auto;
  margin-right: 500px;
  margin-top: 5px;
}

.cart-table {
  border: 1px solid #ddd;
  padding: 13px;
}

.cart-actions2 {
  margin-top: 16px;
  text-align: right;
}

.btnEliminar{
  background-color: #fd6c6c;
}
.btnEliminar:hover{
  background-color: #ff3d3d;
}

.totalPrice{
  font-size: 25px;
  text-align: right;
  margin-right: 110px;
}

.cart-actions2 button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 100px;
}

.cart-actions2 button:hover {
  background-color: #3e8e41;
}


.back-button {
  text-decoration: none;
  background-color: white; 
  color: black !important;
  border: 2px solid #1c6bc3;
  padding: 6px 8px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}    

.back-button:hover {
  text-decoration: none;
  background-color: #1c6bc3;
  color: white !important; 
  padding: 6px 8px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
