.header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1150px;
    margin: 0 auto;
  }