.cart-item2 {
    display: flex;
    margin: 10px 0;
  }
  
  .cart-item2 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .cart-item-info2 {
    flex-grow: 1;
  }
  
  .cart-item-info2 h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .cart-item-controls2 {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .cart-item-controls2 button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    background-color: #f7f7f7;
    color: #333;
    margin: 0 5px;
  }
  
  .cart-item-controls button:hover2 {
    background-color: #333;
    color: #fff;
  }
  
  .cart-actions2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .cart-actions2 button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3483fa;
    color: #fff;
    cursor: pointer;
  }
  
  .cart-actions2 button:hover {
    background-color: #2671d4;
  }
  