/* Estilos para la tarjeta de la orden */
.card-orden {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card-orden:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Estilos para el encabezado de la tarjeta de la orden */
  .card-header-orden {
    padding: 10px;
    background-color: #f1f1f1;
  }
  
  /* Estilos para el título de la orden */
  .titulo-orden {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Estilos para el cuerpo de la tarjeta de la orden */
  .card-body-orden {
    padding: 20px;
  }
  
  /* Estilos para el título del estado */
  .titulo-estado {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Estilos para el estado de la orden */
  .estado-pendiente {
    color: orange;
  }
  
  .estado-entregado {
    color: green;
  }
  
  .estado-cancelado {
    color: red;
  }
  
  /* Estilos para la fecha del pedido */
  .fecha-pedido {
    font-size: 14px;
    color: #888;
  }
  
  /* Estilos para el total de la orden */
  .total-orden {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Estilos para los botones de la orden */
  .botones-orden {
    display: flex;
    justify-content: space-between;
  }
  
  /* Estilos para el botón de ver detalles */
  .btn-ver-detalles {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .btn-ver-detalles:hover {
    background-color: white;
    color: black;
  }
  
  /* Estilos para el icono de ojo */
  .icono-ojo {
    margin-left: 5px;
  }
  
  /* Estilos para el botón de WhatsApp */
  .whatsapp-button {
    background-color: #25d366;
    border-color: #25d366;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .whatsapp-button:hover {
    background-color: #128c7e;
    border-color: #128c7e;
  }
  