/* Estilos personalizados para el área de Dropzone */
.dropzone-area {
  border: 2px dashed #bbb;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  /* Centra el contenedor horizontalmente */
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Otros estilos que desees aplicar */
}

.dropzone-area:hover {
  border-color: #999;
}

.imagen-preview-container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  /* Agrega una barra de desplazamiento horizontal */
  max-width: 100%;
  /* Asegura que el contenedor ocupe todo el ancho disponible */
  padding-bottom: 1rem;
  /* Agrega espacio inferior para la barra de desplazamiento */
}

.imagen-preview {
  position: relative;
  flex: 0 0 auto;
  /* Permite que el tamaño del elemento se ajuste al contenido */
  width: 200px;
  /* Ajusta el ancho de las imágenes según tus necesidades */
  margin-bottom: 1rem;
  /* Agrega un espacio inferior entre las imágenes */
}

.imagen-preview__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imagen-preview__portada-container {
  position: relative;
}

.imagen-preview__icono-portada {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: yellow;
}

.imagen-preview__texto-portada {
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 5px;
}

.imagen-preview__eliminar {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.btnFormShow {
  display: block;
  margin: 0 auto;
}