/* Estilos para el contenedor principal */
.blog-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
  }
  
  /* Estilos para cada publicación */
  .publicacion {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .publicacion h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .publicacion h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .publicacion p {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publicacion .comentarios {
    margin-top: 20px;
  }
  
  .publicacion .comentarios h4 {
    margin-bottom: 10px;
  }
  
  /* Estilos para el botón de enviar comentario */
  .btn-enviar {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .btn-enviar:hover {
    background-color: #555;
  }

  .publicaciones-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
  }
  
  @media screen and (max-width: 600px) {
    .publicaciones-grid {
      grid-template-columns: 1fr;
    }
    .publicacion{
        max-width: 460px;
        max-height: 250;
        margin-bottom: 20px;
    }
  }

  