.contenedor-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  height: 1050px;
}

.info-producto {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.info-producto div {
  margin-bottom: 10px;
}

.info-producto-img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin; /* Estilos para barras de scroll personalizadas */
  scrollbar-color: #ccc #f5f5f5; /* Estilos para barras de scroll personalizadas */

  border: 2px solid #ccc !important;

  width: 340px !important;
  height: 340px !important;
}

.galeria::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.galeria::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.galeria::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.galeria img {
  max-height: 200px !important;
  object-fit: contain;
  flex-shrink: 0;
  scroll-snap-align: center;
}

.back-buttonp {
  text-decoration: none;
  background-color: white; 
  color: black !important;
  border: 2px solid #1c6bc3;
  padding: 6px 8px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
  }    
  
  .back-buttonp:hover {
  text-decoration: none;
  background-color: #1c6bc3;
  color: white !important; 
  padding: 6px 8px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }