.contenedor-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
  }
  
  .info-producto {
    flex: 1;
    padding: 20px;
  }
  
  .info-producto > div {
    margin-bottom: 10px;
  }
  
  .info-producto > div:last-child {
    margin-bottom: 0;
  }
  
  .info-producto-img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .contenedor-producto {
      flex-direction: column;
    }
  
    .info-producto-img {
      max-width: 100%;
    }
  }
  
  .back-button {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    background-color: white;
    color: black !important;
    border: 2px solid #1c6bc3;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .back-button:hover {
    text-decoration: none;
    background-color: #1c6bc3;
    color: white !important;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }