.contenedor-producto {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-producto {
  margin: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
}

.info-producto > div {
  margin-bottom: 10px;
}

.info-producto-img {
  max-width: 100%;
  margin: 20px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galeria img {
  max-width: 100%;
  margin: 10px;
}

.back-button {
  margin-top: 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-button:hover {
  background-color: #2980b9;
}
