.titulo-resumen-compras{
    text-align: center;
}
.botones-resumen-compras-actions{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.btn-continuar-comprando {
    margin-right: 1rem;
    margin-top: -50px;
  }