.dashboard-container {
  display: flex;
  height: 100%;
}

.sidebar-container {
  width: 250px;
  height: 100%;
  background-color: #3f51b5;
  color: #fff;
  padding: 20px;
}

.sidebar-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-container li {
  margin-bottom: 15px;
  cursor: pointer;
}

.content-container {
  flex: 1;
  padding: 20px;
  background-color: #f1f1f1;
  width: 100%;
}

.header-container {
  margin-bottom: 20px;
}

.header-container h1 {
  font-size: 36px;
}

.content-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content-container p {
  font-size: 18px;
  line-height: 1.5;
}

.user-options {
  margin-top: auto;
}

.user-options p {
  margin: 0;
  cursor: pointer;
  text-align: right;
}

.user-options p:hover {
  text-decoration: underline;
}
