.dashboard-container {
  margin-left: 160px;
  padding: 20px;
}

.sidebar-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-container li {
  margin-bottom: 15px;
  cursor: pointer;
}

.content-container {
  margin-left: 160px;
  padding: 20px;
}