.list-usuarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .card-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .card-usuario img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .card-usuario h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .card-usuario p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card-usuario button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .card-usuario button:hover {
    background-color: #0062cc;
  }

  .bordeFiltro{
    border: 1px solid #007bff !important;
  }