.nueva-pregunta-container {
    background-color: #eaf6fc; /* Fondo azul claro */
    padding: 20px;
    border-radius: 5px;
  }
  
  .btn-azul {
    background-color: #007bff; /* Color de fondo azul */
    border: none;
  }
  
  .btn-azul:hover {
    background-color: #0056b3; /* Color de fondo azul oscuro al pasar el cursor */
  }
  