.contenedor {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.columna-izquierda {
  width: 75px;
  height: 595px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: -20px;
  margin-left: 25px;
}

.imagen-producto {
  width: 65px;
  height: 60px;
  margin-bottom: 10px;
  border: 2px solid #aaaaaad0;
  cursor: pointer;
}

.columna-central {
  width: 500px;
  height: 565px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -330px;
}

.imagen-central-container {
  height: 500px;
  width: 500px;
  margin-top: 85px;
  position: relative;
}

.imagen-central {
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.zoom-container {
  position: absolute;
  top: 220px;
  margin-left: 750px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  visibility: hidden;
  z-index: 1;
  }
  
  .zoom-img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  }



.columna-derecha {
  width: 630px;
  display: flex;
  flex-direction: column;
  margin-left: -240px;
  margin-top: 10px;
}

.infoProducto {
  display: inline-block;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.infoProductoTitulo {
  font-size: 25px;
  padding: 10px 20px;
}

.infoProductoPrecio {
  font-size: 30px;
  padding: 5px 35px;
}

.infoProductoDescripcion {
  font-size: 18px;
  line-height: 1.5;
  padding: 10px 35px 0px 35px;
}

.infoProductoCaracteristicas {
  font-size: 18px;
  line-height: 1.8;
  padding: 10px 35px;
}
