.contenedor {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 6rem;
  padding-bottom: 3rem;
}

.columna-izquierda {
  width: 75px;
  height: 595px;
  display: flex;
  flex-direction: column;
  margin-top: -190px;
  margin-left: -15px;
}

.imagen-producto {
  width: 65px;
  height: 60px;
  margin-bottom: 10px;
  border: 2px solid #aaaaaad0;
  cursor: pointer;
  border-radius: 10%;
}

.columna-central {
  width: 500px;
  height: 565px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -250px;
  margin-top: -105px;
}

.imagen-central-container {
  height: 500px;
  width: 500px;
  margin-top: 110px;
  position: relative;
}

.imagen-central {
  height: 450px;
  width: 450px;
  object-fit: contain;
}

.zoom-container {
  position: absolute;
  top: 220px;
  margin-left: 750px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  visibility: hidden;
  z-index: 1;
  }
  
  .zoom-img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  }



.columna-derecha {
  width: 650px;
  display: flex;
  flex-direction: column;
  margin-left: -290px;
  margin-top: -170px;
}

.infoProducto {
  display: inline-block;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  width: 670px;
}

.infoProductoTitulo {
  font-size: 25px;
  padding: 10px 20px;
  max-width: 480px !important;
}

.infoProductoPrecio {
  font-size: 30px;
  padding: 5px 35px;
}

.infoProductoDescripcion {
  font-size: 18px;
  line-height: 1.5;
  padding: 10px 35px 0px 35px;
}

.infoProductoCaracteristicas {
  font-size: 18px;
  line-height: 1.8;
  padding: 10px 35px;
}

.btnCar{
  background-color: #2961fa !important;
}
.btnCar:hover{
  background-color: #0032bd !important;
}

.btnFav{
  background-color: #c8e0ff !important;
}
.btnFav:hover{
  background-color: #76b1ff !important;
}

.back-button3 {
  text-decoration: none;
  background-color: white !important; 
  color: black !important;
  border: 2px solid #1c6bc3;
  border-radius: 5px;
  font-size: 18px !important;
  cursor: pointer;
  margin-left: -30px;
  margin-top: 15px;
  width: 100px;
  }    
  
  .back-button3:hover {
  text-decoration: none;
  background-color: #1c6bc3 !important;
  color: white !important;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

* {box-sizing: border-box;}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 5%;
  cursor: none;
  /*Establecer el tamaño de la lupa:*/
  width: 160px;
  height: 160px;
}


/* Si se visualiza desde un celular */
@media screen and (max-width: 480px) {
  .vistapCel{
    margin-top: -110px;
  }
  
  .infoProducto {
    width: 95%;
    margin-top: 5px !important;
    margin-left: 5px;
  }
  
  .infoProductoTitulo {
    max-width: 80% !important;
  }
  
  .back-button3 {
    margin-right: 30px !important;
    margin-left: 135px !important;
    margin-bottom: 20px !important;
  }
  
  .vistaCel {
    margin-top: -100px;
  }
  
  }