.contenedor-producto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
  }
  
  .info-producto {
    display: flex;
    color: #333;
    display: 'flex';
    justify-content: 'justify';
  }
  
  .galeria {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    height: 260px; /* Altura fija de contenedor de imágenes */
    max-width: 1280px; /* máximo abarcará 1280px */
    margin: auto;
  }
  
  .galeria img {
    cursor: pointer;
    height: 90%; /* cubre 90% de altura */
    width: 96%; /* cubre 96% de ancho */
    object-fit: containt; /* la imagen se ajusta al tamaño de la caja */
    margin-top: 13px;
  }
  
  .galeria img:hover{
    opacity: 60%;
    animation: zoom-in 0.1s ease-in-out forwards;
    
  }
  
  .galeria img:not(:hover) {
    transform: none;
    animation: none;  
  }
  
  .imagenAmpliada {
    position: fixed;
    top: 0;
    left: auto;
    right: auto;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    animation: none;
    transition: transform 0.3s ease-in-out;
    transform: scale(0.6);
    height: auto;
    width: auto;
  }

  .imagenAmpliada:hover {
    animation: none;
    transition: none;
    z-index: -99999;
  }


  @media screen and (max-width: 768px) {
    .contenedor-producto {
      flex-direction: column;
      align-items: center;
    }
  
    .galeria {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .info-producto .info-producto-img {
      max-width: 100%;
    }
  }
  