/* Estilos para la capa oscura de fondo de la modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparencia del fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Z-index para colocar la modal por encima del contenido */
  
}

/* Estilos para la modal en sí */
.modal {
  background-color: #fff;
  padding: 1rem;
  
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2; /* Z-index para colocar la modal por encima del fondo */
  width: 80%;
  max-width: 600px;
  overflow-y: auto; /* Aparecerá una barra de desplazamiento vertical si el contenido desborda la modal */
}

/* Estilos para el encabezado de la modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* Estilos para el botón de cerrar */
.close {
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

/* Estilos para el cuerpo de la modal */
.modal-body {
  margin-bottom: 1rem;
}

/* Estilos para los botones de la modal */
.modal-button {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
