.favoritos-count {
    position: absolute;
    bottom: 15px;
    right: -5px;
    background-color: #f00;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
