.lista-categorias {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
  }
  
  .lista-categorias > li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .lista-categorias > li:last-child {
    border-bottom: none;
  }
  
  .lista-categorias ul {
    margin-left: 16px;
    margin-bottom: 8px;
  }
  